/* dundo geral */
.login, .cadastro{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;

  background: url(/img/loginhp.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.login::before, .cadastro::before {
  position: absolute;
  width: 100%;
  height: 100%;

  content: '';
  bottom: 0;
  left: 0;


  background: rgba(0, 0, 0, 0.281);
}

/* texto do  lado direito */
.texto {
  display: inline-block;
  margin: 0 30px;
  color: rgb(255, 255, 255);
  z-index: 1;
}
.texto h1 {
  font-size: 5rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.416);
}
.texto h1 b {
  color: rgb(255, 0, 0);
  text-shadow: none;
}
.texto p {
  font-size: 1.7rem;

  text-shadow: 0 0px 10px rgba(0, 0, 0, 0.416);
  color: rgb(255, 255, 255);
}


/* lado direito login */
.loginbox, .cadastrobox{
  display: flex;
  min-width: 40%;
  height: 95%;

  flex-direction: column;
  align-items: center;

  margin-right: 20px;

  box-sizing: border-box;
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.445);

  z-index: 1;
  color: white;
  background: rgba(20, 20, 20, 0.849);
}
.loginbox img {
  width: 150px;
  margin: 40px 0;
  border-radius: 50%;
  background: white;
}


/* caixa do login */
.titulo {
  font-size: 2.2rem;
  margin-bottom: 20px;
  color: white;
}
.box {
  width: 80%;
}
.box p{
  margin: 10px 0;
  padding: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

/* inputs do login */
.box input{
  width: 100%;
  height: 50px;

  margin-bottom: 30px;
  font-size: 1.3rem;
  outline: none;

  border: none;

  border-bottom: 2px solid #fff;
  transition: .3s ease-in;

  color: #fff;
  background: transparent;
}
.box input:focus {
  border-radius: 3px;
  border-bottom: 2px solid green;

  background: rgb(58, 58, 58);
}
.box input[type="submit"], input[type="button"]{
  width: 40%;
  margin: 21px;

  float: left;

  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 5px;
  border: none;

  transition: 0.1s ease-in-out;
  cursor: pointer;

  color: #fff;
  background: #fb2525;
}
.box input[type="submit"]:hover, input[type="button"]:hover{
  box-shadow: 0 0 10px black;
  background: #fff;
  color: #ff0000;
}

.cadastrobox .box p {
  margin: 0;
}
.cadastrobox .box input:last-of-type {
  margin: 10px 30%;
}