*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
 
.barranav{
  position: fixed;
  right: 0;
  width: 250px;
  height: 100%;
  background: #023c5d;
}

.barranav header{
  font-size: 22px;
  color: white;
  text-align: center;
  line-height: 70px;
  background: #046179;
  user-select: none;
}

.barranav ul a{
  display: block;
  height: 100px;
  width: 100%;
  line-height: 65px;
  font-size: 22px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255,255,255.1);
  border-bottom: 1px solid black;
  transition: .3s;
}

ul li:hover a{
  padding-left: 50px;
}


